/* Variables */

:root {
  --main-bg-color: #fff8dc;
  --hover-bg-color: #d8d2bb;
  --main-ff: "Times New Roman", Times, serif;
  --secondary-ff: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bold: 600;
  --light: 200;
  --secondary-color: rgb(172, 22, 22);
}

body {
  font-family: var(--main-ff);
}

.page-container {
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.link-button {
  background: none;
  border: solid black 1.5px;

  padding: 2px 9px;
  font-family: var(--main-ff);
  z-index: 2;
  font-style: italic;
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: black;
  text-decoration: none;
}

.link-button:hover {
  /* background: black;
  border: solid var(--main-bg-color) 2px;
  color: var(--main-bg-color); */
  background-color: var(--hover-bg-color);
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 180%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png");

  perspective: 0;
  backface-visibility: none;
  animation: bg-animation 2s ease-in-out 0.01s infinite;
  opacity: 0.9;
  visibility: visible;
  z-index: -1;
  border: solid red 10px;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/* Header */

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2vh 0;
  background-color: var(--main-bg-color);
  z-index: 2;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  font-size: 16px;
  background: none;
  border: none;

  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  color: black;
}

.nav-button::before {
  display: block;
  content: attr(content);
  font-weight: var(--bold);
  height: 0;
  overflow: hidden;
  visibility: hidden;
  color: black;
}

.nav-button:hover {
  font-weight: var(--bold);
  color: black;
}

.nav-selected {
  font-weight: var(--bold);
  color: black;
}

/* Home */

.home {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title {
  font-size: 30px;
  font-weight: var(--light);
  text-align: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.home-title span {
  font-size: 20px;
  font-style: italic;
  text-transform: none;
}

.home-image {
  position: relative;
  width: 30vw;
  height: 220px;
  margin: 20px 0 30px 0;
  overflow: hidden;

  border: solid black 0px;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  position: relative;
  width: 50vw;
  height: 350px;
  margin: 20px 0 20px 0;
}

.about p {
  width: 50vw;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

/* Work */

.work {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  padding-top: 15vh;
}

.work-list-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 30px;
  font-family: var(--secondary-ff);
}

.work-list-container .left {
  width: 20vw;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-list-container .right {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.work-list-container h1,
.work-list-container h2,
.work-list-container p,
.work-list-container a {
  text-align: end;
}

.work-list-container h1 {
  font-size: 20px;
  font-weight: var(--bold);
}

.work-list-container h2 {
  font-size: 16px;
  font-weight: var(--light);
}

.work-list-container h3 {
  font-weight: var(--light);
  margin-bottom: 10px;
}

.work-list-container p {
  font-family: var(--main-ff);
  font-style: italic;
  font-size: 16px;
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-style: italic;
  z-index: 2;
  cursor: pointer;
}

.contact a:hover {
  font-weight: var(--bold);
}

.contact a::before {
  display: block;
  content: attr(href);
  font-weight: var(--bold);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* Equipment */

.equipment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  padding: 0px;
}

.equipment-container li {
  list-style: none;
  padding: 10px 20px;
  border-top: solid black 1px;
  width: 100%;
  text-align: center;
}

/* Responsive */

@media (max-width: 768px) {
  /* Work */
  .work {
    padding-top: 13vh;
  }
  .work-list-container .left {
    width: 50vw;
    margin-right: 20px;
  }

  .work-list-container .right {
    width: 20vw;
  }
  .work-list-container h1 {
    font-size: 16px;
  }

  .work-list-container h2 {
    font-size: 12px;
  }

  .work-list-container h3 {
    font-size: 16px;
  }

  .work-list-container p {
    font-size: 12px;
  }

  /* About */
  /* 
  .about {
    padding-top: 10vh;
  } */

  .about p {
    width: 80vw;
    font-size: 14px;
  }
  /* Equipment */

  /* Home */
  .home-image {
    width: 60vw;
  }
  .home-title {
    font-size: 24px;
  }
  .home-title span {
    font-size: 16px;
  }
  /* Header */
  .nav-button {
    font-size: 14px;
  }
  .header {
    padding: 3vh 0 2vh 0;
  }
}
